/*style for index.html*/
html {
    background: linear-gradient(to right, #0d65e9, #32e29c);
    color: white;
}
.container {
    width: 800px;
    max-width: 100%;
    background-color: #0d947788;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px color="black";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-size: 35px;
    text-align: center;
<<<<<<< HEAD

=======
    color: lightcyan;
}
h1 {
    color: cadetblue;
    font-size: 55px;
>>>>>>> e77d2b067857faa2c89c9fd3d64cc2dc2e68c2e9
}