/*style for index.html*/
html {
    /*for right and left transition*/
    background: linear-gradient(to right, #0d65e9, #32e29c);
    color: white;
}
.container {
    width: 800px;
    max-width: 100%;
    background-color: #0d947788;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px; color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-size: 25px;
    text-align: center;
    color: lightcyan;
}
h1 {
    color: rgb(8, 55, 63);
    font-size: 55px;
    text-decoration: underline;
}
#tab:hover, #tabTwo:hover, #tabThree:hover, #tabFour:hover {
    cursor: pointer;
    opacity: 50%;
}
li {
    font-size: 25px;
    text-align: center;
    color: lightcyan;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}