/*style for Pip portfolio*/
#tabFour {
    color: rgb(28, 219, 28);
}
#h2PiPPic:hover {
    cursor: pointer;
    opacity: 50%;
}
.myPictures {
    text-decoration: underline;
    color: hsl(150, 100%, 40%);
    text-align: center;
}
.containerTobi {
    width: 800px;
    max-width: 100%;
    background-color: #03443688;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px; color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.firstPic {
    text-align: center;
    width: 60%;
    height: 15%;
    margin-left: 20px;
    border: solid 5px black;
}