/*style for Pip portfolio*/
#tabFour {color: rgb(28, 219, 28);

}
.containerTobi {
    width: 800px;
    max-width: 100%;
    background-color: #03443688;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px; color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
