/*style for Jo portfolio*/
#tabTwo {
    color: hsl(200, 100%, 50%);
}
#h2JoS:hover {
    cursor: pointer;
    opacity: 50%;
}
#h2JoP:hover {
    cursor: pointer;
    opacity: 50%;
}
#h2JoAP:hover {
    cursor: pointer;
    opacity: 50%;
}
#h2JoIP:hover {
    cursor: pointer;
    opacity: 50%;
}
.mySkills {
     text-decoration: underline;
     color: hsl(150, 100%, 40%);
     text-align: center;
 }
.myAccounts {
    text-decoration: underline;
    color: hsl(150, 100%, 40%);
    text-align: left;
}
.myProjects {
    text-decoration: underline;
    color: hsl(150, 100%, 40%);
    text-align: center;
}
.activeProjects {
    text-decoration: underline;
    color: hsl(750, 100%, 40%);
    text-align: center;
}
.inactiveProjects {
    text-decoration: underline;
    color: hsl(750, 100%, 40%);
    text-align: center;
}
.containerLennard {
    width: 800px;
    max-width: 100%;
    background-color: #121212;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px; color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.textArchive {
    text-align: left;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline-item {
    display: inline-block;
}
.social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #121212;
    transition: background-color .15s ease-in-out;
}
.rounded-circle {
    border-radius: 50%!important;
    width: 30%;
}
.text-white {
    color: #fff !important;
}
.mr-1, .mb-1 {
    margin-right: auto;
    margin-left: auto;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
a.rounded-circle:hover {
    cursor: pointer;
    opacity: 50%;
}
.twitterWidth {
    width: 108%;
}
.SteamWidth {
    width: 100%;
    border-radius: 5px;
}
.githubWidth {
    width: 95%;
}